# Dependabot will run on day 16 of each month at 02:03 (Europe/Berlin timezone)
version: 2
updates:

  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "3 2 16 * *"
    open-pull-requests-limit: 15
    assignees:
      - "MyHomeMyData"
    versioning-strategy: "increase"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "cron"
      timezone: "Europe/Berlin"
      cronjob: "3 2 16 * *"
    open-pull-requests-limit: 15
    assignees:
      - "MyHomeMyData"
